/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfefe;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #generate-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  #generate-btn:hover {
    background-color: #45a049;
  }
  
  #powerball-numbers {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
  }
  #powerball {
    color: red;
    border: red solid 3px;
    border-radius: 30px;
    padding: 10px;
  }
  #white-balls {
    border: black solid 3px;
    border-radius: 30px;
    padding: 10px;
  }
  
  span {
    margin: 0 5px;
  }
  
