/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #generate-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #generate-btn:hover {
    background-color: #45a049;
  }
  
  #powerball-numbers {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  span {
    margin: 0 5px;
  }
  